form {

  .form-fields-container {
    display: flex;

    column-gap: 1rem;
    margin: 16px 8px 0 8px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    mat-form-field {
      flex: 1;
    }

  }

  .error-messages-container {
    display: flex;
    flex-direction: column;

    .error-message{
      display: flex;
      align-items: center;
    }

  }

}

