.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .loan-form-card {
    flex: 0 0 auto;
    margin: 1rem;
  }

  .repayment-table-card {
    flex: 1 1 auto;
    overflow: auto;
    margin: 0 1rem 1rem 1rem;
  }

}
